<div class="outer">
    <div style=display:flex;>
        <img src="../../../assets/pp.jpg">
        <div class="pad">
        <mat-toolbar color='warn'>
            <div class="menu">
                <a routerLink="/home" routerLinkActive="active" mat-button class="toolbar-btn">Home</a>
                <a routerLink="/predictor" routerLinkActive="active" mat-button class="toolbar-btn">Predictor</a>
                <a routerLink="/stats" routerLinkActive="active" mat-button class="toolbar-btn">Statistics</a>
                <a routerLink="/goals" routerLinkActive="active" mat-button class="toolbar-btn">Goals</a>
                <a routerLink="/centre" routerLinkActive="active" mat-button class="toolbar-btn">Centres</a>
            </div>
        </mat-toolbar>
    </div>
    </div>
    
    
</div>
