<div style="margin-left:215px;background-color:pink; width:1000px; height:500px; margin-top:60px;">
    <div class="row">
			
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	   
			<div class="box-part text-center" style="margin-left:25px;">
				
				<i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
				
				<div class="title">
					<h4>About Breast Cancer</h4>
				</div>
				
				<div class="text">
					<span class="fonty">Breast cancer is cancer that forms in the cells of the breasts.Breast cancer can occur in both men and women, but it's far more common in women</span>
				</div>
				
				<a href="https://www.cdc.gov/cancer/breast/basic_info/what-is-breast-cancer.htm"target="_blank">Learn More</a>
				
			 </div>
		</div>	 
		
		 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	   
			<div class="box-part text-center">
				
				<i class="fa fa-medkit fa-3x" aria-hidden="true"></i>
			
				<div class="title">
					<h4>Symptoms and Causes</h4>
				</div>
				
				<div class="text">
					<span class="fonty">Doctors say that breast cancer occurs when some breast cells begin to grow abnormally forming masses called lumps. </span>
				</div>
				
				<a href="https://www.healthline.com/health/breast-cancer#symptoms"target="_blank">Learn More</a>
				
			 </div>
		</div>	 
		
		 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	   
			<div class="box-part text-center">
				
				<i class="fa fa-stethoscope fa-3x" aria-hidden="true"></i>
				
				<div class="title">
					<h4>Early Detection and Diagnosis</h4>
				</div>
				
				<div class="text">
					<span class="fonty">Breast cancer is sometimes found after symptoms appear, but many women with breast cancer have no symptoms.</span>
				</div>
				
				<a href="https://www.cancer.org/cancer/breast-cancer/screening-tests-and-early-detection.html"target="_blank">Learn More</a>
				
			 </div>
		</div>	 
		
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	   
			<div class="box-part text-center" style="margin-left:25px;">
				
				<i class="fa fa-heartbeat fa-3x" aria-hidden="true"></i>
				
				<div class="title">
					<h4>Treatment and Recovery</h4>
				</div>
				
				<div class="text">
					<span>A treatment plan is a summary of your cancer and planned cancer treatment. It is gives basic information about your medical history to doctors</span>
				</div>
				
				<a href="https://www.cancer.net/cancer-types/breast-cancer/types-treatment"target="_blank">Learn More</a>
				
			 </div>
		</div>	 
		
		 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	   
			<div class="box-part text-center">
				
				<i class="fa fa-trophy fa-3x" aria-hidden="true"></i>
			
				<div class="title">
					<h4>Survivor Stories</h4>
				</div>
				
				<div class="text">
					<span>Life after breast cancer means returning to some familiar things and also making some new choices in life.</span>
				</div>
				
				<a href="https://www.sharecancersupport.org/breast-cancer/breast-cancer-stories/"target="_blank">Learn More</a>
				
			 </div>
		</div>	 
		
		 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	   
			<div class="box-part text-center">
				
				<i class="fa fa-github fa-3x" aria-hidden="true"></i>
				
				<div class="title">
					<h4>Social Platforms</h4>
				</div>
				
				<div class="text">
					<span class="fonty">There are several social media platforms giving awareness to people about breast cancer</span>
				</div>
				<a href="https://www.instagram.com/breastcancer_awareness/?hl=en"target="_blank" class="btn btn-just-icon btn-twitter btn-round">
					<i class="fa fa-instagram"></i>
					<div class="ripple-container"></div>
				</a>
				
				<a href="https://www.facebook.com/BreastCancerAwareness"target="_blank" class="btn btn-just-icon btn-facebook btn-round">
					<i class="fa fa-facebook-square"></i>
				</a>
				<a href="https://www.google.com"target="_blank" class="btn btn-just-icon btn-google btn-round">
					<i class="fa fa-google"></i>
				</a>
				
			 </div>

</div>	
</div>
</div>