body {
    height: calc(100vh - 32px);
    font-family: Roboto, sans-serif;
    margin : 0px;
    background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  }
  
  .main-card {
    background:white;
    color:rgb(8, 8, 8);
    width: 30%;
    height: calc(100% - 32px);
    margin: 16px auto;
    border-radius: 8px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:flex;
    flex-direction:column;
    overflow: hidden;
  }
  
  .main-title {
    background-color:rgb(255, 0, 179);
    font-size: large;
    font-weight: bold;
    padding:32px;
  }
  .main-title svg{
    height: 16px;
     margin: 0px 8px
  }
  
  .chat-area {
    
    overflow: auto;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    height:320px !important;
  }
  .input-message {
    padding: 8px 24px;
    flex-grow: 1;
    margin: 0px 8px 0px 0px;
    border-radius: 24px;
    border: none;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .input-message:focus{
    outline :none;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  }
  .input-div {
    height: 48px;
    width: calc(100% - 32px);
    margin: 16px;
    display: flex;
  }
  
  .input-send {
    background :rgb(255, 0, 179);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: none;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .input-send:hover{
    cursor:pointer;  
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  }
  .input-send svg{
    fill:white;
    margin:11px 8px;
  }
  .chat-message-div {
    display: flex;
  }
  
  .chat-message {
    background-color: white;
    margin: 8px 16px;
    padding: 16px 24px;
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 100ms;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
    color:black;
    border-radius: 50px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .chatlog {
     font: 15px arial, sans-serif;
  }